{% extends 'layouts/main.html' %}

{% block content %}

<div class="title"> NOVEDADES </div>
{% for p in posts|slice:"0:-5" %}

<div class="marco">
    <p class="">Publicado en: {{ p.created|date:"d/m/y" }}</p>
    <h2 class=""> {{p.title}} </h2>
    <p> {{p.text}} </p>
    <p> {{p.Descripcion}} </p>
    <br>
    <p class="">FECHA DEL EVENTO: {{p.Fecha_evento|date:"d/m/y"}}</p>
    <img>
    <a class="squadNavItem" aria-current="page" href="/contacto">Contacto</a>
    <br>
    <br>
    <br>
</div>

{% endfor %}

{% endblock %}