<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la página</title>
    <link rel="stylesheet" href="../archivos static/css/squad_inicio.css">
</head>
<body>

    <header>
        <nav class="position-sticky top-0 navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">DeathSquad</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="squadNavItem" aria-current="page" href="/home">Inicio <i class="bi bi-house"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="squadNavItem" aria-current="page" href="/novedades">Novedades <i class="bi bi-newspaper"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="squadNavItem" aria-current="page" href="/reglamento">Reglamento <i class="bi bi-megaphone"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="squadNavItem" aria-current="page" href="/contacto">Contacto <i class="bi bi-arrows-angle-contract"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="squadNavItem" aria-current="page" href="/create">Nuevo Post <i class="bi bi-plus-circle"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        
    </main>

    <footer>
       
    </footer>

    <script src="script.js"></script>
</body>
</html>
