/* colores a usar:


#C01514 ROJO
#686868 GRIS OSCURO
#231E1E NEGRO
#EAE7DE GRIS CLARO
#8C5C5C MARRÓN ROJIZO

*/
.clase_prueba {
    color: #C01514;
}
/* colores a usar:


#C01514 ROJO
#686868 GRIS OSCURO
#231E1E NEGRO
#8C5C5C MARRÓN ROJIZO
#f8f9fa BLANCO (FONDOS) en realidad es como medio gris xd

*/
@font-face {
    font-family: 'typewriter';
    src: url('../fonts/veteran_typewriter.ttf') format('truetype');
  }
  
  .squadNavItem {
  
  /* CSS */
  
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: 'typewriter', sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
    
  }
  
  .squadNavItem:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .squadNavItem:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
  
  .clase_prueba {
    color: #C01514;
    font-family: 'typewriter', sans-serif; /* Aquí debes especificar el nombre de la fuente que has definido */
  }
  
  .title {
    font-family: 'typewriter', sans-serif;
    font-size: 50px;
    font-weight: bold;
  }
  
  .subtitle {
    font-family: 'typewriter', sans-serif;
    font-size: 30px;
  }
  
  .marco {
  
    border: 2px solid #000; /* Borde sólido de 2px de grosor y color negro */
    padding: 10px; /* Espacio interno del div */
    margin-bottom: 4px;
    box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño total del div */
  }
  
  .footer_squad {
    background-color: #f8f9fa;
  }
  
  .footer_link {
    text-decoration: none;
    color: #686868;
  }